@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-image: url('music.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Quicksand','Ariel';
    font-weight: bold;
    color: rgb(27, 21, 26);
    text-shadow: 2px 5px 5px rgb(0,0,0), 1px 1px 0px rgb(255,255,255);
    font-size: 1.5rem;
}

.keys {
    height: 400px;
    width: 50%;
    /* background-color: steelblue; */
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0,0,0);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    /* flex-direction: inline; */
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgba(255,255,255,.5);
    backdrop-filter: blur(5px);
}

button {
    padding: 15px;
    font-size: 1.3rem;
    margin: 2px;
    height: 150px;
    cursor: pointer;

}

/* Applying only to even buttons */
button:nth-of-type(even){
    background: black;
    color: white;
}

button:focus {
    outline: none;
}

button:active{
    transform: scale(.95);
    box-shadow: 0px 0px 8px 5px black;
}

button.activated{
    box-shadow: 0px 0px 8px 5px black;
}

.footer a:active, .footer a:visited{
    color: black;
}

.footer a:hover{
    color: green;
}

@media(max-width: 920px){
    .keys {
        width: 90%;
    }
}

@media(max-width: 800px){
    .keys {
        width: 80%;
    }
}


