@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Shadows+Into+Light&display=swap');

* {
    font-family: 'Shadows Into Light';
}

input {
    padding: 20px;
    font-size: larger;
}

.draggable {
    margin: 10px;
    padding: 5px;
    border: 2px dashed black;
    cursor: grab;
    display: inline-block;
}

#dropZone {
    width: 300px;
    margin: 20px;
    padding: 10px;
}