* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.container {
    background: rgb(192, 196, 198);
    padding: 20px;
}

.container2 {
    background: rgb(175, 165, 184);
}