.draggable {
    margin: 10px;
    padding: 5px;
    border: 2px dashed black;
    cursor: grab;
    display: inline-block;
}

#answerPool p {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

#blank {
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
}

#question {
    margin-bottom: 20px;
}
#answerMessage {
    margin-top: 20px;
}