
/* Universal styling */
* {
    margin: 0px;
    padding: 0px;
    color: blue
}

h1 {
    color: green;
}

/* Using class */
.title {
    text-decoration: underline;
}
 /* Using id */
#intro {
    /* Want to give options if the user doesn't support one of the fonts */
    font-family: Arial, Helvetica, sans-serif;
}

/* Using descendant selectors applies to all descendants */
div h1 {
    color: red;
}

/* Child selector only does one child */
div > h1 {
    color: aquamarine;
}

/* Applies to any paragraph preceded by a header */
h1 + p {
    color: blue;
}

.my_section {
    color: beige;
    padding: 10px;
}

.my_section:hovor {
    background-color: aquamarine;
}

h1:hover {
    text-decoration: dashed;
}

/* Pseudo element */
#demo::first-line {
    font-weight: bold;
    text-transform: uppercase;
}

input[type="password"] {
    background-color: orange;
}

input[type="text"] {
    background-color: red;
}