@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Exo 2';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2','Ariel';
    background: rgb(126, 126, 172);
}

.mydivs {
    height: 100vh;
    overflow: hidden;
}

#btn1, #btn2, #btn3, #btn4 {
    visibility: hidden;
    position: absolute;
}

.arrow-down::after{
    content: '';
    width: 40px;
    height: 40px;
    /* background-color: aqua; */
    position: absolute;
    margin: auto;
    top: 30rem;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid rgba(255, 255, 255, .3);
    border-bottom: 4px solid rgba(255, 255, 255, .3);
    transform: rotate(45deg);
    cursor: pointer;
}

.arrow-up {
    height: 100px;
    width: 100px;
    /* background-color: red; */
}

.arrow-up::after{
    content: '';
    width: 40px;
    height: 40px;
    /* background-color: aqua; */
    position: absolute;
    margin: auto;
    top: 30rem;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid rgba(255, 255, 255, .8);
    border-bottom: 4px solid rgba(255, 255, 255, .8);
    transform: rotate(225deg);
    cursor: pointer;
}

#div1 {
    background-color: #168596;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-size: cover;
    background-repeat: none; */
    text-align: center;
    position: relative;
}

#div1 h1 {
    margin: 1rem;
    color: white;
    text-shadow: 1px 1px 5px rgb(0,0,0,1);
}

#div1 i {
    /* margin: 1rem; */
    color: white;
    text-shadow: 1px 1px 5px rgb(0,0,0,1);
    font-size: 1.5rem;
}

#div1 p {
    color: white;
    text-shadow: 1px 1px 5px rgb(0,0,0,1);
    line-height: 2;
    letter-spacing:.6px;
    font-size: 1.5rem;
}

.img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 2rem;
}

.img-div div {
    width:200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: red; */
    justify-content: center;
}

.img-div div img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#div2 {
    background-color: #168596;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    /* background-size: cover;
    background-repeat: none; */
   background: url('img/online-test.png');
   background-repeat: no-repeat;
   background-size: cover;
}

#div2 div {
    background-color: rgba(3, 3, 3, .5);
    height: 100vh;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
}

#div2 div img {
    height: 100px;
    width: 200px;
    margin-top: 10%;
}

#div2 div h1 {
   color: white;
   margin: 30px auto 30px;
}

#div2 div p {
    color: white;
    line-height: 2;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
}

#div3 {
    background-color: #168596;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 0px 10% 0px;
}

#skill_title {
    width: 100%;
    padding: 50px;
    /* background-color: rebeccapurple; */
}

.skills {
    background-color: rgba(36, 31, 31, 1);
    border: 1px solid black;
    width: 30%;
    margin: 5px 5px 2px;
    padding: 25px;
    height: auto;
    display: inline-block;
}

.skills img{
    width: 50%;
    height: auto;
}

#skill_title h1, .skills h3, .skills p {
    color: white;
    text-shadow: 2px 2px 2px rgba(26, 25, 25, .5);
}

.skills h3, .skills p {
    margin-top: 20px;
}

#div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('img/server.png');
}

#div4 p, #div4 h1 {
    color: white;
    text-shadow: rgba(3, 3, 3, 1);
    margin: 15px;
}

#div p {
    font-size: 1.3rem;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

form {
    padding: 10px;
}

form input, form textarea, button {
    width: 100%;
    padding: 10px;
    font-size: 1.2 rem;
    margin-bottom: 5px;
}

form input:focus {
    outline: none;
}

form textarea {
    font-family: inherit;

}

form textarea:focus {
    outline: none
}

form button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color .3s ease-in;
}

form button:hover {
    background-color: rgb(58, 57, 57);
    color: white;
}

@media(max-width: 600px){
    .skills {
        width: 70vw;
    }

    .skills-wrap {
        overflow: auto;
    }

    #div1 h1 {
        font-size: 1.3rem;
    }

}

@media(max-width: 450px){
    #div2 div p {
        font-size: 1rem;
        line-height: 1.2;
    }
}

@media(max-width: 350px){
    #div2 div p {
        font-size: 1rem;
        line-height: 1;
    }
}
