@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');

*{
    font-family: 'Gwendolyn';
    margin: 0;
    padding: 0;
}

body {
    background-image: url('vegetable.jpg');
    ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: bisque;
    height: 800px;
    margin: 30px;
    padding: 10px;
    box-shadow: 20px 20px 50px rgba(0,0,0,1);
    border-radius: 15px;
    background: rgba(255,255,255,.1);
    border-top: 2px soild rgba(255,255,255,.5);
    backdrop-filter: blur(5px);
}

.container h1 {
    color: white;
    text-shadow: 2px 2px 2px #030303;
    font-style: italic;
}

.container p {
    font-style: italic;
    text-shadow: 2px 2px 2px #030303;
}

#displayResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 29, 29);
    height: 160px;
    width: 280px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

#result {
    font-size: 2rem;

}

#ageInput {
    width: 100%;
    border: none;
    background-color: rgba(248, 248, 248,.4);
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(25, 25, 25, 1);
}

#ageInput::placeholder{
    color:rgba(255, 255, 255, .5);
    overflow: hidden;
    font-size: 14px;
}

#ageInput:focus{
    outline: none;
    background-color: white;
}

.buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: skyblue; */
}

.buttons .refresh {
    display: none;
}

.btn {
    padding: 10px;
    width: 100px;
    border: none;
    background-color: #fd8c00;
    margin: 10px;
    color: black;
    cursor: pointer;
    transition: background-color .6s;
}

.btn.btn:hover
{
    background-color: black;
    counter-reset: white;
}

#resetBtn {
    color: white;
    background-color: rgb(58, 57, 57);
}

#resetBtn:hover {
    background-color: #030303;
}

.btn:focus{
    outline: none;
    /* transform: scale(.9); */
}

.btn:active {
    transform: scale(.98);
}

.alert {
    display: none;
}

.alert2 {
    display: none;
}

/* If .axtive is present */
.alert.active{
    display: block;
}

.alert2.active {
    display: block;
}

.answer {
    display: none;
}

.answer.active {
    display: block;
}

@media(max-width:800px) {
    .container {
        width: 60vw;
    }
}

@media(max-width:600px) {
    .container {
        width: 80vw;
    }
    .container h1 {
        font-size: 1.2rem;
    }

    .container p {
        font-size: .6rem;
    }
}

@media(max-width:300px) {
    .container {
        width: 90vw;
    }
    .container h1 {
        font-size: 2rem;
    }

    .container p {
        font-size: .3rem;
    }
}