body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.block-labels {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h1 {
    text-align: center;
}

input{
    font-size: 1.2rem;
    padding: 4px;
    border-radius: 5px;
    border: none;
}

#sign-btn {
    display: block;
    padding: 12px;
    font-size: 14px;
    width: 100%;
    background-color: blueviolet;
    border: none;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
}

#create-btn {
    margin-top: 10px;
    display: block;
    padding: 12px;
    font-size: 14px;
    width: 100%;
    background-color: rgb(45, 135, 86);
    border: none;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px; 
}

#sign-btn:hover{
    background-color: rgb(116, 31, 195);
}

#login-checkbox{
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgb(61, 61, 61);
}

.my-border{
    border: 1px solid rgb(41, 37, 45);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 25px rgb(0, 0, 0);
    background-color: rgb(218, 196, 240);
    
}

/* form{
    background-color: rgb(218, 196, 240);
} */

.my-form {
    background-color: rgb(194, 130, 199);
    /* Makes flexible to different size screens */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Only works when using display flex */
    justify-content: center;
}

#inputTexts input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    align-self: center;
    width: 90%;

}

#birth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px; 
    padding-bottom: 20px;
}

#birthday {
    margin-left: 10px;
    width: 90%;
}

h3 {
    text-align: center;
}

.sign-up {
    display: block;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}



