@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('meats.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container .card {
    width: 40vw;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 1);

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(201, 198, 198);
    backdrop-filter: blur(3px);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.text-field {
    width: 70%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px auto 5px;
    font-size: 12px;

}

.content input:focus {
    outline: none;
}

.content h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.form-input 
{
    /* height: 100%; */
    width: 100%;
    margin-bottom: 10px;
}

.form-input button {
    width: 70%;
    background: rgba(255, 255, 255, 0);
    border: none;
    border: 1px solid rgba(2, 2, 2, .5);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px auto 10px;
}

.form-input button:hover {
    background: rgba(200, 50, 30, .619);
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 1);
}


/* Adjusting the width of the content card such that it takes up more space the smaller the screen is */
@media(max-width: 800px) {
    .container .card {
        width: 60vw;
    }
}

@media(max-width: 600px) {
    .container .card {
        width: 90vw;
    }
}

@media(max-width: 400px) {
    .container .card {
        width: 95vw;
    }
}