@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display','Ariel';
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    background-color: antiquewhite;
    border: 1px solid #9fa4a8;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    color: rgb(51, 51, 51);
    width: 60%;
}
/* If the div wap has an active class */
.wrap.active {
    background-color: aliceblue;
}

.wrap-title {
    margin: 0 35px 0 0;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #fff;
}

.wrap-text {
    display: none;
    margin: 30px 0 0;
}

.wrap.active .wrap-text {
    display: block;
}

.wrap-toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
}

.wrap-toggle .fa-chevron-circle-down {
    font-size: 1.5rem;
}

.wrap-toggle .fa-times-circle {
    font-size: 1.5rem;
}

.wrap-toggle:focus {
    outline: 0;
}

.wrap-toggle .fa-times-circle {
    display: none;
}

.wrap.active .wrap-toggle .fa-times-circle {
    display: block;
}

.wrap.active .wrap-toggle .fa-chevron-circle-down {
    display: none;
}
