/* table {
    border: 1px solid black;
}

table thead th {
    border: 1px solid black;
}

table tbody tr td {
    border: 1px solid black;
    border-radius: 3px;
} */

table, table thead th, table tbody tr td {
    border: 1px solid black;
    border-radius: 3px;
    border-collapse: collapse;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(247, 247, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: rgb(211, 211, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 20%;

}

button {
    width: 100%;
    margin: 10px;
}

input {
    width: 100%;
    margin: 2px;
}

.container2 {
    background-color: rgb(246, 205, 190);
    margin: 10px;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}